.Container {
    width: 100%;
    padding: 0 20px;
    
}

#Card {
    width: 30%;
    margin: auto;
    margin-top: 10%;
}



#reservations {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #reservations td, #reservations th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #reservations tr:nth-child(even){background-color: #f2f2f2;}
  
  #reservations tr:hover {background-color: #ddd;}
  
  #reservations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  